body{
    overflow: hidden;
    height: 150%;

}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.logo{
    display: flex;
    block-size: 50px;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-right: 20px;
    
}
.navbar ,ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    align-items: center;
    font-size: 20px;
    text-transform: capitalize;
    gap:50px   
}
a{
     text-decoration: none;
     color: black;
}
.profile{
position: relative;
height: 90px;

}
#button{
    position: absolute;
    top:35%;
    left: 70%;
    transform: translate3d(-50%, -50%);
padding: 15px 10px 10px 10px;
border-radius: 5px;
border: none;
background-color: skyblue;
color: aqua;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ad{
    text-align: start;
    left: 50%;
    margin-top: 100px;
    margin-left: 250px;
}
p{
    color:rgb(28, 27, 27);
}
.laundy-img{
    height: 170px;
    margin-top: 200px;
}
.laundry-btn{
    color: white;
    background-color: rgb(22, 173, 223);
    padding: 15px 30px 15px 15px;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    
}
img{
    height: 400px;  
     margin-top: 100px;
     margin-left: 50px;
}